:root {
  --player-padding: 20px;
}

.PlayerComponent {
  justify-content: space-between;
  align-items: center;

  padding-top: var(--player-padding);
  padding-bottom: var(--player-padding);
  padding-right: var(--player-padding);
}

.player-names {
  flex-direction: column;
  align-items: start;
  width: 150px;
}

.game-name {
  font-size: 14px;
  margin-bottom: 0.5rem;
  color: #ffc666;
}

.champion-name {
  font-weight: 200;
  font-size: 12px;
}
