.PlayerInfo {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.player-names {
  flex-direction: column;
  align-items: start;
  width: 100px;
}

.game-name {
  font-size: 16px;
  font-weight: 300;
  color: lightblue;
}

.champion-name {
  font-weight: 200;
  font-size: 14px;
}
