.Tracker {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 700px;

  color: white;
  background-color: rgb(2, 4, 17);
  padding: 20px;
}

.gameNameInput {
  width: 250px;
}

.tagLineInput {
  width: 80px;
}
