.Tracker {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 800px;

  padding: 20px;

  color: white;
  background-color: rgb(40, 43, 59);

  border-radius: 20px;
  border-top: 1px solid rgb(24, 28, 39);
  border-right: 1px solid rgb(24, 28, 39);
}

.gameNameInput {
  width: 250px;
}

.tagLineInput {
  width: 80px;
}

.champions {
  flex-wrap: wrap;
}

.remaining-champion {
  width: 80px;
}
