.MatchHistory {
  flex-direction: column;
  width: 100%;
  gap: 5px;

  position: relative;
}

.game-names {
  flex-direction: column;
}

.list-items {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr 2fr 2fr 1fr 1fr;

  position: sticky;
  top: 60px;
  z-index: 1;

  width: 100%;
  padding: 10px;

  font-size: 12px;
  color: lightgrey;

  background-color: #11141f;
  border-radius: 5px;
}
