@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap");

:root {
  font-family: "Lexend", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  /* background-color: rgb(45, 45, 45); */
  background-color: #0a0a0a;

  font-family: sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}
