@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss"; */

@font-face {
  font-family: "Lexend";
  src: url("./assets/fonts/Lexend/Lexend-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

:root {
  --navbar-height: 60px;
}

body {
  margin: 0;
  font-family: Inter;
  background-color: #0c0c0e;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  all: unset;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
