.TeamInfo {
  flex-direction: column;
  justify-content: end;
  align-items: start;

  height: 0px;
  padding: 0px 50px;

  overflow: hidden;
  transition: height 300ms ease-in-out;
}

.TeamInfo.open {
  height: 270px;
}
