:root {
  --team-icon-size: 35px;
}

.TeamInfo {
  justify-content: start;
  align-items: center;

  padding: 20px 50px;
  width: 100%;
  gap: 20px;
}

.TeamLogo {
  width: var(--team-icon-size);
  height: var(--team-icon-size);
}
