.Tracker {
  flex-direction: column;
  width: fit-content;
  height: fit-content;

  justify-content: center;
  align-items: center;
  color: white;
  border: solid 5px #222942;
  background-color: #11141f;
}

.gameNameInput {
  width: 250px;
}

.tagLineInput {
  width: 80px;
}
