.Tracker {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 700px;

  color: white;
  gap: 5px;
}

.gameNameInput {
  width: 250px;
}

.tagLineInput {
  width: 80px;
}
