.Tracker {
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  margin: 20px;

  justify-content: center;
  align-items: center;
  color: white;
}

.gameNameInput {
  width: 250px;
}

.tagLineInput {
  width: 80px;
}
