.Tracker {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 700px;

  color: white;
  border: solid 5px #222942;
  background-color: #11141f;
}

.gameNameInput {
  width: 250px;
}

.tagLineInput {
  width: 80px;
}
