:root {
  --summoner-icon-size: 80px;
  --summoner-icon-margin-right: 20px;

  --summoner-name-font-size: 18px;
  --summoner-name-margin-right: 1rem;

  --summoner-level-font-size: 12px;

  --summoner-stats-font-size: 14px;
}

.Summoner {
  justify-content: start;
  width: 100%;
  border-radius: 10px;

  background-color: #11141f;
}

.summoner-icon-container {
  position: relative;
  height: 100%;
  margin-right: var(--summoner-icon-margin-right);
}

.summoner-icon {
  width: var(--summoner-icon-size);
  height: var(--summoner-icon-size);
}

.summoner-level {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem;

  font-size: var(--summoner-level-font-size);
  background-color: rgba(0, 0, 0, 0.5);
}

.summoner-info {
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}

.summoner-name {
  font-size: var(--summoner-name-font-size);
  font-weight: bold;
  color: lightgrey;

  margin-right: var(--summoner-name-margin-right);
}

.summoner-stats {
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

  font-size: var(--summoner-stats-font-size);
  color: grey;
}

.summoner-stats {
  font-size: var(--summoner-stats-font-size);
}

.placements {
  gap: 1rem;
}
