:root {
  --match-transition-time: 0.3s;
  --chevron-size: 12px;
}

.Match {
  flex-direction: row;
  align-items: start;
  border: 2px solid transparent;
  box-sizing: content-box;
  background-color: #11141f;

  border-radius: 10px;
  color: rgba(255, 255, 255, 0.5);

  transition: height var(--match-transition-time) ease;
  overflow: hidden;
  pointer-events: hover;
}

.Match.open {
  height: 204px;
}

.Match.closed {
  height: 102px;
}

.chevron-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 100px;

  cursor: pointer;

  margin-right: 10px;
}

.chevron-button:hover {
  color: goldenrod;
}

.chevron {
  transition: transform var(--match-transition-time) ease;
  font-size: var(--chevron-size);
}

.chevron.open {
  transform: rotate(90deg);
}

.players {
  flex-direction: column;
  width: 100%;
}

.augments,
.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}

.items {
  gap: 10px;
}
