.MatchBanner {
  box-sizing: content-box;
  height: 80px;

  padding: 5px 0px;
  padding-right: 50px;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border: solid 2px transparent;
}

.MatchBanner:hover {
  border-color: goldenrod;
  cursor: pointer;
}

.chevron-wrapper {
  align-items: center;
}

.chevron {
  margin-right: 20px;
  width: 50px;
  transition: transform 0.2s ease-in-out;
}

.chevron.open {
  transform: rotate(90deg);
}

.time-info {
  gap: 50px;
}
