.ChampionInfo {
  align-items: center;
  justify-content: start;
  border: solid 2px transparent;
}

.ChampionInfo:hover {
  border-color: gold;
}

.Match {
  width: 100%;
  flex-direction: column;
  gap: 20px;

  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  pointer-events: hover;
}

.match-info {
  height: 100px;
}
