.ChampionInfo {
  align-items: center;
  justify-content: start;
  border: solid 2px transparent;
  transition: opacity 0.8s ease;
}

.ChampionInfo:hover {
  border-color: gold;
}

.ChampionInfo.open {
  opacity: 0;
}

.Match {
  width: 100%;
  flex-direction: column;
  /* gap: 20px; */

  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  pointer-events: hover;
  transition: height 0.5s ease;
}

.match-header {
  height: 80px;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.match-data {
  max-height: 0px;
  flex-direction: column;
  transition: max-height 0.8s ease;
  justify-content: end;
  overflow: hidden;
}

.match-players {
  flex-direction: column;
  height: fit-content;
}

.match-data.open {
  max-height: 305px;
}

.chevron {
  width: 50px;
  transition: transform 0.2s ease-in-out;
}

.chevron.open {
  transform: rotate(90deg);
}
