.ChampionInfo {
  align-items: center;
  justify-content: start;
  pointer-events: none;

  position: relative;
  transition: left 1000ms ease, opacity 1000ms ease;
  opacity: 1;
  left: 0px;
}

.ChampionInfo.open {
  opacity: 0;
  left: 100px;
}

.Match {
  width: 100%;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.5);

  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  pointer-events: hover;
}

.match-data {
  height: 0px;
  padding: 0px 50px;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;

  transition: height 500ms linear;
}

.match-data.open {
  height: 224px;
}

.match-players {
  flex-direction: column;
  height: fit-content;
}
