.Match {
  width: 100%;
  flex-direction: column;
  gap: 20px;

  border-bottom: solid 2px grey;
  pointer-events: hover;
}

.match-info {
  height: 100px;
}

.GameBanner {
  justify-content: start;
  align-items: center;
  gap: 20px;
  border: solid 2px transparent;
  transition: max-height 500ms ease;
  pointer-events: hover;
}


.GameBanner:hover {
  border-color: gold;
  box-shadow: 0px 0px 30px gold;
}
