.ChampionInfo {
  align-items: center;
  justify-content: start;
  pointer-events: none;

  position: relative;
  transition: opacity 500ms ease;
  opacity: 1;
}

.ChampionInfo.open {
  opacity: 0;
}

.Match {
  width: 100%;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.5);

  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  pointer-events: hover;
}


.match-players {
  flex-direction: column;
  height: fit-content;
}
