:root {
  --match-transition-time: 0.3s;
  --chevron-size: 12px;
}

.Match {
  flex-direction: row;
  align-items: start;
  border: 2px solid transparent;
  border-bottom-color: black;
  box-sizing: content-box;
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);

  color: rgba(255, 255, 255, 0.5);

  transition: height var(--match-transition-time) ease;
  overflow: hidden;
  pointer-events: hover;
}

.Match.open {
  height: 204px;
}

.Match.closed {
  height: 102px;
}

.chevron-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 102px;
  cursor: pointer;
}

.chevron-button:hover {
  color: goldenrod;
}

.chevron {
  transition: transform var(--match-transition-time) ease;
  font-size: var(--chevron-size);
}

.chevron.open {
  transform: rotate(90deg);
}

.players {
  flex-direction: column;
  width: 100%;
}
