:root {
  --summoner-icon-size: 150px;
}
.Summoner {
  justify-content: start;

  width: 100%;

  border-bottom: solid 1px grey;
}

.summoner-icon {
  width: var(--summoner-icon-size);
  height: var(--summoner-icon-size);
}

.summoner-info {
  padding: 10px 20px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

.summoner-name {
  font-size: 32px;
  font-weight: bold;
}

.summoner-level,
.games-played,
.placements {
  font-size: 18px;
  margin-left: 0.5rem;
}

.placements {
  gap: 50px;
}
