.TrackerSearch {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: fit-content;
  gap: 5px;
  background-color: rgb(13, 15, 29);
  padding: 20px;
  border-radius: 20px;
}

.search-button {
  background-color: white;
}
