@font-face {
  font-family: "Lexend";
  src: url("./assets/fonts/Lexend/Lexend-VariableFont_wght.ttf");
}

:root {
  --navbar-height: 60px;
}

body {
  margin: 0;
  font-family: Lexend;
}
ul {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
