:root {
  --match-transition-time: 0.3s;
  --chevron-size: 12px;
}

.Match {
  flex-direction: row;
  align-items: start;
  box-sizing: content-box;

  color: rgba(255, 255, 255, 0.5);
  background-color: #11141f;
  border-top: 1px solid rgb(24, 28, 39);
  border-right: 1px solid rgb(24, 28, 39);
  border-radius: 5px;

  transition: height var(--match-transition-time) ease;
  overflow: hidden;
  pointer-events: hover;
  cursor: pointer;
}

.Match:hover {
  background-image: linear-gradient(
    to right,
    rgba(255, 206, 81, 0.127),
    transparent
  );
}

.Match.open {
  height: 220px;
}

.Match.closed {
  height: 102px;
}

.chevron-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 100px;

  cursor: pointer;
}

.chevron-button:hover {
  color: goldenrod;
}

.chevron {
  transition: transform var(--match-transition-time) ease;
  font-size: var(--chevron-size);
}

.chevron.open {
  transform: rotate(90deg);
}

.players {
  flex-direction: column;
  width: 100%;
}

.augments,
.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.augments {
}
