:root {
  --champion-portrait-size: 100px;
  --item-img-size: 45px;
}

.Player {
  justify-content: space-between;
}

.items,
.augments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.augment-img {
  height: var(--item-img-size);
  width: var(--item-img-size);
  border: solid 2px darkgoldenrod;
  border-radius: 2px;
}

.game-name {
  font-size: 18px;
}

.champion-name {
  color: grey;
}

.game-names {
  justify-content: center;
  align-items: start;
  width: 150px;
}

.player-info {
  align-items: center;
}

.champion-portrait {
  width: var(--champion-portrait-size);
  height: var(--champion-portrait-size);
}
