:root {
  --player-padding: 20px;
}

.Player {
  justify-content: space-between;
  align-items: center;

  padding-top: var(--player-padding);
  padding-bottom: var(--player-padding);
  padding-right: var(--player-padding);
}

.player-names {
  flex-direction: column;
  align-items: start;
  width: 200px;
}

.game-name {
  font-size: 16px;
  font-weight: 300;
  color: lightblue;
}

.champion-name {
  font-weight: 200;
  font-size: 14px;
}
